/*.ag-theme-material .ag-floating-filter-full-body input {
  background-image: url("/assets/images/filter-tool-black-shape.svg");
  background-position: right top;
  background-repeat: no-repeat;
  padding-right:15px;
}
.ag-theme-material .ag-cell-inline-editing {
  padding-top: 0px !important;
}
*/
